<h1 class="page-header">Welcome to the SCD Cloud</h1>
<p>
    This service provides a private <abbr title="Infrastucture as a Service">IaaS</abbr> cloud resource for SCD users.
    To start, select the login link at the top of the page and enter your federal username and password.
</p>
<p>
    You should be aware that the SCD Cloud is still in active development. Please read the <a href="/tos">Terms of Service</a> before proceeding.
</p>
<p>
    For any questions, problems or ideas email us at <a href="mailto:cloud-support@helpdesk.gridpp.rl.ac.uk">cloud-support@helpdesk.gridpp.rl.ac.uk</a>
</p>
