html,
body {
  height: 100%;
}

#home {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -84px;
  padding-top: 80px;

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .panel {
    padding: 15px 25px;
  }

  h1 {
    font-size: 44px;
    margin-top: 0;
  }

  .jumbotron {
    padding: 28px 60px 18px;
    background-color: #eee;
  }

  .jumbotron p {
    font-size: 16px;
    font-weight: 400;
  }

  #login {
    padding: 0;
    .panel {
      padding: 0;
      box-shadow: none;
    }
  }
}

#footer,
.push {
  height: 84px; /* .push must be the same height as .footer */
}
