.context-delimiter {
  @extend .mdi-stop;
  color: $gray-light;
  font-size: $font-size-small;

  &:before {
    content: "\F4DB";
  }
}
.navbar-header {
  li {
    display: inline-block;
    color: white;
    height: 64px;
    font-size: 16px;
    padding: 0 10px;
    padding-top: 17px;
    margin-left: -4px;
  }

  li:hover {
    background-color: #003562;
    cursor: pointer;
  }
}
